@model Cart

@{
    ViewData["Title"] = "Cart";
}
<div class="card">
    <div class="card-body">
        <table class="table table-borderless table-sm">
            <thead>
            <tr>
                <th>Item</th>
                <th class="text-center">Quantity</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var line in Model.Lines)
            {
                <tr>
                    <td>@line.Product.ProductName</td>
                    <td class="text-center">
                        <form asp-controller="Cart" asp-action="UpdateCart" method="post" class="d-inline-block">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <button class="btn btn-sm btn-secondary" id="minus_@line.Product.ProductId">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl">
                                <input value="@line.Product.ProductId" name="productId" hidden>
                                <input type="text" name="quantity" 
                                       placeholder="@line.Quantity" 
                                       value="@line.Quantity" 
                                       class="form-control text-center font-weight-bold" style="max-width:35px"
                                       id="input_@line.Product.ProductId">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-secondary" id="plus_@line.Product.ProductId">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <button class="btn btn-sm btn-primary float-right ml-2">
                                    <i class="fa fa-arrow-alt-circle-up"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                    <td class="text-right">@line.Product.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Quantity * line.Product.Price).ToString("c"))
                    </td>
                    <td class="text-center">
                        <form asp-page-handler="Remove" method="post">
                            @*handler method should be named OnPostRemove() to match*@
                            <input type="hidden" name="ProductId" value="@line.Product.ProductId">
                            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl">
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
            <tfoot class="border-top">
            <tr class="mt-2">
                <td colspan="3" class="text-right font-weight-bold">Total</td>
                <td class="text-right font-weight-bold">
                    @Model.ComputeTotalValue().ToString("c")
                </td>
            </tr>
            </tfoot>
        </table>

        <div class="my-3">
            <a class="btn btn-secondary" href="@ViewBag.ReturnUrl">Continue Shopping</a>
            <a class="btn btn-primary">
                Checkout
            </a>
        </div>
    </div>
</div>
